.mainBg {
  /* height: 100vh; */
  background: #fff;
  min-width: 1280px;

}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fb;;
  border-radius: 15px;
  border-radius: 0px 0px 130px 130px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    align-items: stretch;
    padding-left: 51px;
    padding-right: 51px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
