.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 78, 78, 0.8);
}

.modalContainer {
  position: absolute;
  max-width: calc(100vw - 48px);
  max-height: calc(100vw - 48px);
  padding-top: 50px;
  padding-bottom: 60px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  overflow: auto;
}

.scroll {
  height: 100px;
  /* overflow: auto; */
}
